:root {
  scroll-behavior: smooth;
  --theme-color: #fff;
  --text-color: #000;
  --highlight-color-1: #5e5ce6;
  --highlight-color-2: #ffd700;
  --box-shadow: #21242c80;
  --code-color: #282c34;
  --button-color: #5e5ce6;
  --inverse-theme-color: #ffd700;
  --inverse-text-color: #fff;
  --shadow-color: #dddd;
}

.body {
  background-color: var(--theme-color);
  color: var(--text-color);
  font-family: "Whyte";
}

.header {
  background-color: var(--theme-color);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 0 0.25rem 0.2rem 0 var(--box-shadow);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  height: 4rem;
  padding: 0 2rem;
  margin: auto;
}

.header-nav__link-logo-container {
  height: 2.5rem;
}

.header-nav__link-logo {
  height: 100%;
  border-radius: 35%;
  box-shadow: 0 0.4rem 1rem var(--shadow-color),
    0 0.1rem 0.5rem var(--shadow-color), 0 0 2rem var(--shadow-color);
}

.header-nav__menu-icon {
  font-size: 2rem;
  align-items: center;
  width: 2rem;
  color: var(--inverse-theme-color);
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: all 0.5s;
}

.header-nav__menu-icon:hover {
  font-size: 2.5rem;
  filter: brightness(250%);
}

.header-nav__icon {
  width: 100%;
}

.header-nav__menu-checkbox {
  display: none;
}

.header-nav__menu-checkbox:checked+.header-nav__link-list {
  left: 0;
}

.header-nav__link-list {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 4rem;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--code-color);
  gap: 2.5rem;
  margin: 0;
  padding: 0;
  transition: all 0.5s;
}

.header-nav__link-item {
  list-style: none;
}

.header-nav__link {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--inverse-text-color);
  transition: all 0.5s;
}

.header-nav__link:hover {
  color: var(--highlight-color-1);
  border-bottom: 0.25rem solid var(--highlight-color-2);
}

/* header left button */
.header-nav__button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.header-nav__button-link-download {
  font-weight: 600;
  background-color: var(--theme-color);
  border: 0.15rem solid var(--button-color);
  padding: 0.45rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--button-color);
  transition: all 0.5rem;
}

.header-nav__button-link-download:hover {
  font-weight: 600;
  background-color: var(--button-color);
  border: 0.15rem solid var(--button-color);
  padding: 0.45rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--theme-color);
  transition: all 0.5rem;
}

.header-nav__button-link-contact {
  font-weight: 600;
  color: var(--theme-color);
  background-color: var(--button-color);
  border: 0.1rem solid var(--button-color);
  padding: 0.45rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 0.5rem;
}

/* Main section */
.main {
  width: 100%;
}

/* profile section */
.profile {
  text-align: center;
  padding: 2rem 0;
}

.profile-container {
  padding: 0 2rem;
}

.profile__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile__info-title {
  color: var(--code-color);
  margin: 0;
}

.software-engineer {
  font-weight: 300;
}

.social-network {
  text-decoration: none;
  color: var(--code-color);
}

.profile__info-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin: 0;
}

.profile__info-link-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.profile__info-link {
  background-color: var(--button-color);
  border: 0.15rem solid var(--button-color);
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  text-decoration: none;
  color: var(--theme-color);
  transition: all 0.5rem;
}

.profile__info-link:hover {
  font-weight: 500;
  padding: 0.6rem 1.2rem;
  color: var(--button-color);
  border: 0.15rem solid var(--button-color);
  border-radius: 0.6rem;
  background-color: var(--theme-color);
  transition: ease-in-out 0.3s;
}

.profile__info-link-download {
  font-weight: 500;
  background-color: var(--theme-color);
  border: 0.15rem solid var(--button-color);
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  text-decoration: none;
  color: var(--button-color);
  transition: all 0.5rem;
}

.profile__info-link-download:hover {
  padding: 0.6rem 1.2rem;
  color: var(--theme-color);
  border: 0.15rem solid var(--button-color);
  border-radius: 0.6rem;
  background-color: var(--button-color);
  transition: ease-in-out 0.3s;
}

.profile__cover-image {
  display: flex;
  justify-content: center;
}

.profile__image-container {
  display: flex;
  max-width: 18rem;
  border: 0.25rem solid var(--inverse-theme-color);
  border-radius: 20%;
  overflow: hidden;
  transition: all 0.5s;
}

.profile__image-container:hover {
  box-shadow: 0 0 0 0.25rem var(--highlight-color-1);
}

.profile__image {
  width: 100%;
}

/* Experience section */
.experience {
  background-color: var(--highlight-color-1);
  color: var(--inverse-text-color);
  padding: 2rem 0;
}

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 1024px;
  margin: auto;
  padding: 0 2rem;
}

.experience__title {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.experience__experiences {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* importante solucionar */
.experience__experience {
  display: flex;
  flex-direction: column;
}

.experience__date {
  color: var(--highlight-color-2);
  margin: 0;
}

.experience__company {
  font-size: 1.5rem;
  margin: 0;
}

.experience__role {
  color: var(--highlight-color-1);
  margin: 0;
  font-weight: 400;
}

.experience__activities {
  margin: 0;
  margin-top: 0.5rem;
}

.experience__activity {
  font-weight: 300;
  line-height: 1.5rem;
  list-style: square;
}

/* WAVE SEPARATOR */
.wave-separator {
  margin: 0 0 -0.5rem 0;
}

.wave-separator--r-180deg {
  margin: -0.5rem 0 0 0;
  transform: rotate(180deg);
}

.wave-separator__wave-container {
  display: flex;
  margin: 0;
}

.wave-separator__wave {
  color: var(--code-color);
  width: 100%;
}

/* PROJECTS SECTION */
.projects {
  padding: 2rem 0;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}

.projects__title {
  font-size: 2rem;
  margin: 0;
}

.projects__projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.projects__project {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1.5rem;
  padding-bottom: 1rem;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0 0 0 var(--code-color), 0 0.2rem 2rem #dddddd,
    0 0 0 var(--code-color);
}

.projects__project:hover {
  box-shadow: 0 0 0 var(--code-color), 0 0 1rem #dddddd,
    -0.3rem 0.3rem 0rem var(--highlight-color-1);
  transform: scale(1.05);
}

.projects__project-image-container {
  display: flex;
  width: 100%;
  margin: 0;
  border-radius: 0.6rem;
  overflow: hidden;
}

.projects__project-image {
  width: 100%;
}

.projects__project-data {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;
  padding: 0 1rem;
}

.projects__project-data-title {
  color: var(--code-color);
  margin: 0;
  font-size: 1.3rem;
}

.projects__project-data-core-technology {
  color: var(--highlight-color-1);
  font-weight: 500;
  margin: 0;
}

.projects__project-data-technologies {
  color: var(--box-shadow);
  font-weight: 400;
  margin: 0;
}

.projects__project-data-about {
  font-weight: 300;
  margin: 0;
}

.projects__project-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.projects__project-button {
  text-decoration: none;
  font-weight: 700;
  background-color: var(--highlight-color-1);
  border: 0.1rem solid var(--highlight-color-1);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--theme-color);
  transition: all 0.5s;
}

.projects__project-button--bg-gold {
  background-color: var(--highlight-color-1);
  border: 0.1 solid var(--highlight-color-1);
}

.projects__project-button:hover {
  border: 0.15rem solid var(--highlight-color-1);
  background-color: var(--theme-color);
  color: var(--button-color);
}

/* HABILITIES SECTION */
.habilities {
  text-align: center;
  padding: 2rem 0;
}

.habilities-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
  max-width: 1024px;
  margin: auto;
}

.habilities__title {
  margin: 0;
  font-size: 2rem;
}

.habilities__habilities-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.habilities__hability {
  background-color: var(--code-color);
  color: var(--inverse-text-color);
  font-weight: 300;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}

.habilities__hability:hover {
  color: var(--inverse-theme-color);
  box-shadow: 0 0 0 0.5rem 0.25rem var(--highlight-color-1);
  transform: scale(1.25);
}

/* CONTACT SECTION */
.contact {
  background-color: var(--highlight-color-1);
  color: var(--inverse-text-color);
  text-align: center;
  padding: 2rem 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
  max-width: 1024px;
  margin: auto;
}

.contact__title {
  margin: 0;
  font-size: 2rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__form-input {
  border: 0.25rem solid var(--code-color);
  border-radius: 0.7rem;
  padding: 1rem;
  outline: none;
  transition: all 0.5s;
}

.contact__form-input:invalid {
  box-shadow: 0 0 0.5rem 0 var(--highlight-color-2);
}

.contact__form-input:hover {
  border: 0.25rem dashed var(--highlight-color-2);
}

.contact__form-input:focus {
  border: 0.25rem solid var(--code-color);
}

.contact__form-input::placeholder {
  color: var(--code-color);
}

.contact__form-button {
  font-size: 1rem;
  font-weight: 700;
  align-self: center;
  background-color: var(--highlight-color-2);
  border: 0.1rem solid var(--highlight-color-2);
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  color: var(--highlight-color-1);
  transition: all 0.5s;
}

.contact__form-button:hover {
  border: 0.1rem solid var(--highlight-color-1);
  background-color: var(--theme-color);
}

/* Footer section  */
.footer {
  background-color: var(--highlight-color-1);
  color: var(--inverse-text-color);
  padding: 2rem 0;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
}

.footer-nav__link-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.footer-nav__link-item {
  list-style: none;
}

.footer-nav__link {
  display: flex;
  width: 1.5rem;
  transition: 0.25s all;
}

.footer-nav__link:hover {
  filter: brightness(150%);
  transform: scale(1.5);
}

.footer-nav__link-image {
  width: 100%;
}

.footer-nav__credits {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 350;
  margin: 0;
  padding-top: 0.5rem;
  box-shadow: 0 -0.25rem 0.25rem -0.25rem var(--theme-color);
}

.footer-nav__credits-author {
  color: var(--highlight-color-2);
  text-decoration: none;
}

@media (min-width: 854px) {
  .header-nav__menu-icon {
    display: none;
  }

  .header-nav__link-list {
    position: static;
    flex-direction: row;
    width: auto;
    background-color: inherit;
  }

  .header-nav__link {
    font-size: 1rem;
    color: var(--text-color);
  }

  .profile-container {
    display: flex;
    align-items: center;
    padding: 0;
    max-width: 1024px;
    margin: auto;
  }

  .profile__info {
    flex: 1;
    gap: 1.5rem;
    text-align: left;
  }

  .profile__info-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .profile__info-description {
    font-size: 1.1rem;
  }

  .profile__info-link-container {
    justify-content: flex-start;
  }

  .profile__info-link,
  .profile__info-link-download {
    font-size: 1.2rem;
  }

  .profile__cover-image {
    flex: 1;
  }

  .profile__image-container {
    max-width: 30rem;
  }

  .projects-container {
    display: flex;
    align-items: center;
    padding: 0;
    max-width: 1024px;
    margin: auto;
  }

  .projects__projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-nav {
    padding: 0;
    max-width: 1024px;
    margin: auto;
  }

  .footer-nav__link-list {
    gap: 1.5rem;
  }

  .footer-nav__link {
    width: 2rem;
  }
}